[run]
parallel = True
branch = True
source =
    src
omit =
    **/braket/ir/*
    **/braket/device_schema/*
    **/braket/schema_common/*
    **/braket/task_result/*
    **/braket/simulator/*
    */site-packages/braket/*

[paths]
source =
    src
    */site-packages/braket

[report]
show_missing = True
ignore_errors = True
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Skipping import testing
    from importlib.metadata import entry_points
 
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

    # Avoid situation where system version causes coverage issues
    if sys.version_info.minor == 9:

    # Avoid type checking import conditionals
    if TYPE_CHECKING:

[html]
directory = build/coverage

[xml]
output = build/coverage/coverage.xml
