# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Check code format

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
    - name: Set up Python
      uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -e .[test]
    - name: Run code format checks
      run: |
        black --check . --extend-exclude=src/braket/experimental/autoqasm/autograph
        flake8 --enable-extensions=BCS src/braket/experimental/autoqasm
