# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Check code format

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - name: Set up Python
      uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        pip install tox
    - name: Run code format checks
      run: |
        tox -e linters_check -p auto
