# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Check code format

on:
  pull_request:
    branches:
      - main
      - public-main
      - feature/**

permissions:
  contents: read

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        pip install tox
    - name: Run code format checks
      run: |
        tox -e linters_check -p auto
