name: Dependent tests

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        dependent:
          - amazon-braket-pennylane-plugin-python

    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade git+https://github.com/aws/amazon-braket-schemas-python.git@main
        pip install --upgrade git+https://github.com/aws/amazon-braket-default-simulator-python.git@main
        pip install -e .
        cd ..
        git clone https://github.com/aws/${{ matrix.dependent }}.git
        cd ${{ matrix.dependent }}
        # Update the amazon-braket-sdk dependency to reference the current commit
        python ${GITHUB_WORKSPACE}/.github/scripts/update_dependency.py
        pip install -e .[test]
    - name: Run unit tests
      run: |
        cd ../${{ matrix.dependent }}
        pytest
