name: Dependent tests

on:
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]
        dependent:
          - amazon-braket-pennylane-plugin-python

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade git+https://github.com/aws/amazon-braket-schemas-python.git@main
        pip install --upgrade git+https://github.com/aws/amazon-braket-default-simulator-python.git@main
        cd ..
        git clone https://github.com/aws/${{ matrix.dependent }}.git
        cd ${{ matrix.dependent }}
        # Update the amazon-braket-sdk dependency to reference the current commit
        python ${GITHUB_WORKSPACE}/.github/scripts/update_dependency.py
        pip install tox
    - name: Run unit tests
      run: |
        cd ../${{ matrix.dependent }}
        tox -e unit-tests
