# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.7', '3.8']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install --upgrade git+https://github.com/aws/amazon-braket-schemas-python@main
        pip install --upgrade git+https://github.com/aws/amazon-braket-default-simulator-python@main
        pip install -e .[test]
    - name: Check code format
      run: |
        # stop the build if there are Python format errors or undefined names
        black --check .
        flake8
    - name: Run unit tests
      run: |
        coverage run -m pytest
        coverage combine
        coverage report
        coverage xml
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@v1
