# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - feature/**

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Set Python tool cache for Windows
      if: runner.os == 'Windows'
      run: |
        echo "RUNNER_TOOL_CACHE=D:/hostedtoolcache/windows" >> $GITHUB_ENV
      shell: bash
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        path: ${{ matrix.os == 'windows-latest' && 'D:/a/runner' || '.' }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: ${{ matrix.python-version }}
        cache-dependency-path: ${{ matrix.os == 'windows-latest' && 'D:/a/runner/requirements.txt' || './requirements.txt' }}
    - name: Install dependencies
      working-directory: ${{ matrix.os == 'windows-latest' && 'D:/a/runner' || '.' }}
      run: |
        pip install tox
    - name: Run unit tests
      working-directory: ${{ matrix.os == 'windows-latest' && 'D:/a/runner' || '.' }}
      run: |
        tox -e unit-tests
    - name: Upload coverage report to Codecov
      uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      if: ${{ strategy.job-index }} == 0
